/*
 * Intima.ai - API
 * Bem vindo a documentação da API do [Intima.ai](https://app.intima.ai). Está documentação cobre todas as ações disponíveis dentro do Intima.ai e as disponibilizam como `ENDPOINTS` que podem ser integrados e utilizados por outros serviços ou aplicações, bastando somente possuir o `Token de acesso da API`.
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Documento;
import io.swagger.client.model.Response;
import io.swagger.client.model.ResponseDefault;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ProtocolosApi extends Api {
    private ApiClient apiClient;

    public ProtocolosApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ProtocolosApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createProcessProtocolo
     * @param numeroProcesso  (required)
     * @param tipoDocumentoMensagemGeral  (required)
     * @param documentos  (required)
     * @param pjeAuthId é o id referente ao tribunal cadastrado em \&quot;Tribunais ativos\&quot; no Intima.ai (required)
     * @param mensagem_geral é o texto do conteúdo do protocolo (texto padrão: SEGUE EM ANEXO) (optional)
     * @param descricao é a descrição da mensagem geral (caso não se informe este campo, ele assumira o valor do campo tipo_documento_mensagem_geral) (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createProcessProtocoloCall(String numeroProcesso, Integer tipoDocumentoMensagemGeral, List<Documento> documentos, Integer pjeAuthId, String mensagem_geral, String descricao, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/actions/process-protocol/{pje_auth_id}"
            .replaceAll("\\{" + "pje_auth_id" + "\\}", apiClient.escapeString(pjeAuthId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (numeroProcesso != null)
        localVarFormParams.put("numero_processo", numeroProcesso);
        if (tipoDocumentoMensagemGeral != null)
        localVarFormParams.put("tipo_documento_mensagem_geral", tipoDocumentoMensagemGeral);
        if (documentos != null)
        localVarFormParams.put("documentos", documentos);
        if (mensagem_geral != null)
        localVarFormParams.put("mensagem_geral", mensagem_geral);
        if (descricao != null)
        localVarFormParams.put("descricao", descricao);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "ApiKeyAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createProcessProtocoloValidateBeforeCall(String numeroProcesso, Integer tipoDocumentoMensagemGeral, List<Documento> documentos, Integer pjeAuthId, String mensagem_geral, String descricao, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'numeroProcesso' is set
        if (numeroProcesso == null) {
            throw new ApiException(invalidFieldMessage("numeroProcesso"));
        }
        // verify the required parameter 'tipoDocumentoMensagemGeral' is set
        if (tipoDocumentoMensagemGeral == null) {
            throw new ApiException(invalidFieldMessage("tipoDocumentoMensagemGeral"));
        }
        // verify the required parameter 'documentos' is set
        if (documentos == null) {
            throw new ApiException(invalidFieldMessage("documentos"));
        } else {
            for (Documento documento : documentos) {
                if (documento.getDescricaoDocumento() == null || documento.getDescricaoDocumento() == "") {
                    throw new ApiException(invalidFieldMessage("documentos.descricaoDocumento"));
                }
                if (documento.getOrder() == null) {
                    throw new ApiException(invalidFieldMessage("documentos.Order"));
                }
            }
        }
        // verify the required parameter 'pjeAuthId' is set
        if (pjeAuthId == null) {
            throw new ApiException(invalidFieldMessage("pjeAuthId"));
        }
        
        com.squareup.okhttp.Call call = createProcessProtocoloCall(numeroProcesso, tipoDocumentoMensagemGeral, documentos, pjeAuthId, mensagem_geral, descricao, progressListener, progressRequestListener);
        return call;
    }

    /**
     * Realiza um novo protocolo
     * 
     * @param numeroProcesso  (required)
     * @param tipoDocumentoMensagemGeral  (required)
     * @param documentos  (required)
     * @param pjeAuthId é o id referente ao tribunal cadastrado em \&quot;Tribunais ativos\&quot; no Intima.ai (required)
     * @param mensagem_geral é o texto do conteúdo do protocolo (texto padrão: SEGUE EM ANEXO) (optional)
     * @param descricao é a descrição da mensagem geral (caso não se informe este campo, ele assumira o valor do campo tipo_documento_mensagem_geral) (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Response> createProcessProtocolo(String numeroProcesso, Integer tipoDocumentoMensagemGeral, List<Documento> documentos, Integer pjeAuthId, String mensagem_geral, String descricao) throws ApiException {
        return createProcessProtocoloWithHttpInfo(numeroProcesso, tipoDocumentoMensagemGeral, documentos, pjeAuthId, 
                mensagem_geral, descricao);
    }

    /**
     * Realiza um novo protocolo
     * 
     * @param numeroProcesso  (required)
     * @param tipoDocumentoMensagemGeral  (required)
     * @param documentos  (required)
     * @param pjeAuthId é o id referente ao tribunal cadastrado em \&quot;Tribunais ativos\&quot; no Intima.ai (required)
     * @param mensagem_geral é o texto do conteúdo do protocolo (texto padrão: SEGUE EM ANEXO) (optional)
     * @param descricao é a descrição da mensagem geral (caso não se informe este campo, ele assumira o valor do campo tipo_documento_mensagem_geral) (optional)
     * @return ApiResponse&lt;Response&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Response> createProcessProtocoloWithHttpInfo(String numeroProcesso, Integer tipoDocumentoMensagemGeral, List<Documento> documentos, Integer pjeAuthId, String mensagem_geral,
            String descricao) throws ApiException {
        com.squareup.okhttp.Call call = createProcessProtocoloValidateBeforeCall(numeroProcesso, tipoDocumentoMensagemGeral, documentos, pjeAuthId, mensagem_geral, descricao, null, null);
        return apiClient.execute(call, ResponseDefault.class);
    }

    /**
     * Realiza um novo protocolo (asynchronously)
     * 
     * @param numeroProcesso  (required)
     * @param tipoDocumentoMensagemGeral  (required)
     * @param documentos  (required)
     * @param pjeAuthId é o id referente ao tribunal cadastrado em \&quot;Tribunais ativos\&quot; no Intima.ai (required)
     * @param mensagem_geral é o texto do conteúdo do protocolo (texto padrão: SEGUE EM ANEXO) (optional)
     * @param descricao é a descrição da mensagem geral (caso não se informe este campo, ele assumira o valor do campo tipo_documento_mensagem_geral) (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createProcessProtocoloAsync(String numeroProcesso, Integer tipoDocumentoMensagemGeral, List<Documento> documentos, Integer pjeAuthId, String mensagem_geral, String descricao, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createProcessProtocoloValidateBeforeCall(numeroProcesso, tipoDocumentoMensagemGeral, documentos, pjeAuthId, mensagem_geral, descricao, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
